{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={% static 'styles.css' %}>
    <title>Resume</title>
</head>
<body>
    <div class="btn-wrapper">
        <a href="/image"><button class="button-1">Update my Photo</button></a>
        <a href="/update_aboutme"><button class="button-1">Update About me</button></a>
        <a href="/update_skills"><button class="button-1">Update my SKills</button></a>
        <a href="/update_education"><button class="button-1">Update my Education</button></a>
        <a href="/update_projects"><button class="button-1">Update my Projects</button></a>
    </div>
</body>
</html>